.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
  }
  

  .subtitle {
    font-size: 20px;
    color: #000080; /* Azul oscuro */
    margin-bottom: 20px;
  }
  
  .image-container {
    margin: 20px 0;
  }
  
  .image-container img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
  }
   
  .button {
    width: 80%;
    font-size: 18px;
    border-radius: 10px;
  }