<ion-header>
  <ion-toolbar color="danger">
    <ion-title>RegistraApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2 class="subtitle">Apunte su cámara al código QR que muestre su profesor/a para registrar su asistencia </h2>

    <div class="image-container">
      <img src="assets/images/codigo.png" alt="Imagen bienvenida" />
    </div>


    <ion-button  routerLink="/escaner-qr-estu" color="warning" expand="block" class="button qr-button">
      Empezar a escanear
    </ion-button>
  </div>
</ion-content>
