<ion-header>
  <ion-toolbar color="warning">
    <ion-title>RegistraApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2 class="subtitle">¡Bienvenido profesor!</h2>

    <div class="image-container">
      <img src="assets/images/Bienprofesor.png" alt="Imagen bienvenida" />
    </div>


    <p class="description">Listo para pasar asistencia</p>
    <ion-button  routerLink="/generar-qr" color="warning" expand="block" class="button qr-button">
      Generar codigo QR
    </ion-button>
  </div>
</ion-content>