<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="image-container">
      <img src="assets/images/Contraseña.png" alt="Imagen bienvenida" />
    </div>

    <ion-item color="light" lines="none" class="email-field">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input placeholder="Correo Electrónico"></ion-input>
    </ion-item>

    <ion-button color="danger" expand="block" class="button qr-button">
      Restaurar Contraseña
    </ion-button>

    <p class="description">Enviaremos un correo de recuperación de contraseñaa</p>

  </div>
</ion-content>

