<ion-header>
  <ion-toolbar color="danger">
    <ion-title>RegistraApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h2 class="subtitle">¡Bienvenido estudiante!</h2>

    <div class="image-container">
      <img src="assets/images/Bienestudiante.png" alt="Imagen bienvenida" />
    </div>

    <p class="description">Prepárate para marcar tu asistencia</p>

    <ion-button  routerLink="/escaner-qr-estu" color="warning" expand="block" class="button qr-button">
      Escanear el QR
    </ion-button>
  </div>
</ion-content>
